<div class="d-flex flex-row gap-2">
  <div action="" class="card col-12 p-3">
    <header
      class="d-flex align-items-center flex-row justify-content-between p-2"
    >
      <span style="font-size: 20px">Liste des categories de voitures:</span>
      <span class="d-flex flex-row gap-2">
        <input
          type="text"
          class="form-control"
          name="nom"
          id="nom"
          [(ngModel)]="nom"
          placeholder="Designation"
        />
        <button
          mat-flat-button
          style="background-color: var(--secondary)"
          (click)="insert()"
        >
          Ajouter
        </button>
      </span>
      <span class="d-flex flex-row gap-2">
        <input
          type="search"
          class="form-control"
          name=""
          [(ngModel)]="searchedText"
          (keyup)="search()"
          id=""
          placeholder="Recherche"
        />
      </span>
    </header>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Designation">
        <th mat-header-cell *matHeaderCellDef class="col-6">Designation</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isModf">{{ element.designation }}</span>
          <span *ngIf="element.isModf"
            ><input
              type="text"
              class="form-control"
              [(ngModel)]="element.designation"
          /></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <span class="d-flex flex-row gap-2">
            <i
              class="fa {{ element.isModf ? 'fa-check' : 'fa-edit' }}"
              (click)="
                element.isModf = !element.isModf;
                element.isModf ? '' : modifierCotegorie(element)
              "
            ></i>
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <span *ngIf="dataSource.data.length == 0" class="col-12 text-center p-2">
      Aucune categorie trouver
    </span>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
