@import "node_modules\\bootstrap\\dist\\css\\bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

:root {
  --primary: rgb(19, 19, 19);
  --primary-transparent: rgba(19, 19, 19, 0.532);
  --secondary: rgb(250, 232, 27);
  --secondary-transparent: rgba(255, 240, 74, 0.242);
  --bg: rgb(255, 255, 255);
  --bg-card: rgba(236, 236, 236, 0.671);
  --bg-card-hover: rgba(222, 222, 222, 0.671);
}

* {
  transition: 0.2s;
  font-family: "Raleway", sans-serif;
}

.main {
  background: var(--bg-card);
}

.content {
  position: relative;
  max-height: 90%;
  border-radius: 20px;
  overflow-y: auto;
  background-color: white;
}

.mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none !important;
  background: transparent;
}

.card {
  border: none;
  border-radius: 20px;
}

html,
body {
  height: 100%;
}

.hover {
  background-color: #ff512f;
  width: 0%;
  height: 2px;
}

.choice:hover .hover {
  width: 100%;
}

.choice:hover {
  cursor: pointer;
}

.big:hover {
  cursor: pointer;
}
